In [ ]:
import numpy as np
import pandas as pd

In [ ]:
train = pd.read_csv('/content/train_mfcc_data.csv')

In [ ]:
train['age'].value_counts(ascending=True).unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  12,  13,  14,  15,
        16,  17,  19,  23,  25,  27,  29,  30,  35,  38,  40,  41,  42,
        44,  45,  46,  48,  53,  58,  67,  68,  69,  70,  71,  80,  81,
        82,  85,  88,  89,  90,  91,  92,  93,  95, 100, 101, 102, 107,
       108, 111, 115, 120, 122, 132])

In [ ]:
bins = list(range(0, 133, 10))

In [ ]:
bins_label = [str(x)+"s" for x in bins]

In [ ]:
bins_label

['0s',
 '10s',
 '20s',
 '30s',
 '40s',
 '50s',
 '60s',
 '70s',
 '80s',
 '90s',
 '100s',
 '110s',
 '120s',
 '130s']

In [ ]:
train["age"] = pd.cut(train["age"], bins, right=False, labels=bins_label[:-1])

In [ ]:
train

,id,age,gender,respiratory_condition,fever_or_muscle_pain,covid19,mfcc_1,mfcc_2,mfcc_3,mfcc_4,...,mfcc_23,mfcc_24,mfcc_25,mfcc_26,mfcc_27,mfcc_28,mfcc_29,mfcc_30,mfcc_31,mfcc_32
0,1,20s,female,0,1,0,-274.93472,29.345425,-19.152718,-7.836881,...,-2.320941,2.150005,-0.925417,2.116030,-0.192730,2.417784,-4.736650,1.237788,-1.600426,-1.462419
1,2,50s,male,0,0,0,-311.55988,52.482780,-0.094471,-11.066645,...,-6.497138,0.543653,-6.263890,-2.386007,-6.744628,0.254181,-0.967560,-2.113267,-2.433431,0.881612
2,3,20s,male,0,0,0,-438.28616,46.591045,-22.690268,-3.606580,...,-0.156195,-1.680288,2.617625,1.242552,-0.073267,-0.961353,-0.733599,-0.419574,0.796274,0.412893
3,4,20s,female,1,0,0,-368.42603,46.939438,-7.443070,-3.694368,...,-0.155832,3.839320,-2.503331,2.750769,1.758515,2.094565,0.295820,1.737585,-0.654200,1.847927
4,5,20s,male,0,0,0,-535.19300,7.167374,-7.420830,2.231418,...,-0.144892,-0.412889,-1.451348,0.237435,-0.971688,0.779252,-0.734346,1.141693,-0.498866,1.189332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3800,3801,50s,male,0,0,0,-328.48108,68.198105,-40.380050,2.296546,...,-0.169228,1.255069,-4.971604,-0.051959,1.205788,3.960530,-4.198615,2.740853,-4.145076,-2.578391
3801,3802,20s,male,0,0,0,-386.11325,74.041670,-12.082752,-0.463327,...,-2.914988,4.903864,1.143664,6.106156,2.849517,3.576306,-0.653661,3.850693,2.524862,5.940697
3802,3803,20s,female,0,0,0,-347.16568,58.591610,12.996252,27.981964,...,-2.394710,-2.743319,-2.632139,-1.907922,-3.182673,-1.444413,-0.020416,-1.599742,-1.627819,-1.380630
3803,3804,20s,female,0,0,0,-179.06174,70.699880,-14.584357,-10.161293,...,-7.737086,5.680622,-2.050983,1.687631,-1.204141,-0.130723,-4.725782,0.556226,-5.252555,-0.278517
3804,3805,40s,female,1,1,0,-308.58084,85.663930,11.319212,12.697679,...,0.255441,4.058149,-1.271166,-3.727564,1.209356,3.165365,1.471972,1.192195,0.216985,4.189097

In [ ]:
train.groupby(['age', 'covid19']).count()

               id  gender  respiratory_condition  fever_or_muscle_pain  \
age  covid19
0s   0         20      20                     20                    20
     1          7       7                      7                     7
10s  0        295     295                    295                   295
     1         43      43                     43                    43
20s  0        903     903                    903                   903
     1         92      92                     92                    92
30s  0        876     876                    876                   876
     1         75      75                     75                    75
40s  0        718     718                    718                   718
     1         46      46                     46                    46
50s  0        398     398                    398                   398
     1         26      26                     26                    26
60s  0        195     195                    195                   195
     1          6       6                      6                     6
70s  0         77      77                     77                    77
     1          9       9                      9                     9
80s  0         15      15                     15                    15
     1          2       2                      2                     2
90s  0          2       2                      2                     2
     1          0       0                      0                     0
100s 0          0       0                      0                     0
     1          0       0                      0                     0
110s 0          0       0                      0                     0
     1          0       0                      0                     0
120s 0          0       0                      0                     0
     1          0       0                      0                     0

              mfcc_1  mfcc_2  mfcc_3  mfcc_4  mfcc_5  mfcc_6  ...  mfcc_23  \
age  covid19                                                  ...
0s   0            20      20      20      20      20      20  ...       20
     1             7       7       7       7       7       7  ...        7
10s  0           295     295     295     295     295     295  ...      295
     1            43      43      43      43      43      43  ...       43
20s  0           903     903     903     903     903     903  ...      903
     1            92      92      92      92      92      92  ...       92
30s  0           876     876     876     876     876     876  ...      876
     1            75      75      75      75      75      75  ...       75
40s  0           718     718     718     718     718     718  ...      718
     1            46      46      46      46      46      46  ...       46
50s  0           398     398     398     398     398     398  ...      398
     1            26      26      26      26      26      26  ...       26
60s  0           195     195     195     195     195     195  ...      195
     1             6       6       6       6       6       6  ...        6
70s  0            77      77      77      77      77      77  ...       77
     1             9       9       9       9       9       9  ...        9
80s  0            15      15      15      15      15      15  ...       15
     1             2       2       2       2       2       2  ...        2
90s  0             2       2       2       2       2       2  ...        2
     1             0       0       0       0       0       0  ...        0
100s 0             0       0       0       0       0       0  ...        0
     1             0       0       0       0       0       0  ...        0
110s 0             0       0       0       0       0       0  ...        0
     1             0       0       0       0       0       0  ...        0
120s 0             0       0       0       0       0       0  ...        0
     1             0       0       0       0       0       0  ...        0

              mfcc_24  mfcc_25  mfcc_26  mfcc_27  mfcc_28  mfcc_29  mfcc_30  \
age  covid19
0s   0             20       20       20       20       20       20       20
     1              7        7        7        7        7        7        7
10s  0            295      295      295      295      295      295      295
     1             43       43       43       43       43       43       43
20s  0            903      903      903      903      903      903      903
     1             92       92       92       92       92       92       92
30s  0            876      876      876      876      876      876      876
     1             75       75       75       75       75       75       75
40s  0            718      718      718      718      718      718      718
     1             46       46       46       46       46       46       46
50s  0            398      398      398      398      398      398      398
     1             26       26       26       26       26       26       26
60s  0            195      195      195      195      195      195      195
     1              6        6        6        6        6        6        6
70s  0             77       77       77       77       77       77       77
     1              9        9        9        9        9        9        9
80s  0             15       15       15       15       15       15       15
     1              2        2        2        2        2        2        2
90s  0              2        2        2        2        2        2        2
     1              0        0        0        0        0        0        0
100s 0              0        0        0        0        0        0        0
     1              0        0        0        0        0        0        0
110s 0              0        0        0        0        0        0        0
     1              0        0        0        0        0        0        0
120s 0              0        0        0        0        0        0        0
     1              0        0        0        0        0        0        0

              mfcc_31  mfcc_32
age  covid19
0s   0             20       20
     1              7        7
10s  0            295      295
     1             43       43
20s  0            903      903
     1             92       92
30s  0            876      876
     1             75       75
40s  0            718      718
     1             46       46
50s  0            398      398
     1             26       26
60s  0            195      195
     1              6        6
70s  0             77       77
     1              9        9
80s  0             15       15
     1              2        2
90s  0              2        2
     1              0        0
100s 0              0        0
     1              0        0
110s 0              0        0
     1              0        0
120s 0              0        0
     1              0        0

[26 rows x 36 columns]

In [ ]:
train_negative = train[train['covid19'] ==0]

In [ ]:
train_negative

,id,age,gender,respiratory_condition,fever_or_muscle_pain,covid19,mfcc_1,mfcc_2,mfcc_3,mfcc_4,...,mfcc_23,mfcc_24,mfcc_25,mfcc_26,mfcc_27,mfcc_28,mfcc_29,mfcc_30,mfcc_31,mfcc_32
0,1,20s,female,0,1,0,-274.93472,29.345425,-19.152718,-7.836881,...,-2.320941,2.150005,-0.925417,2.116030,-0.192730,2.417784,-4.736650,1.237788,-1.600426,-1.462419
1,2,50s,male,0,0,0,-311.55988,52.482780,-0.094471,-11.066645,...,-6.497138,0.543653,-6.263890,-2.386007,-6.744628,0.254181,-0.967560,-2.113267,-2.433431,0.881612
2,3,20s,male,0,0,0,-438.28616,46.591045,-22.690268,-3.606580,...,-0.156195,-1.680288,2.617625,1.242552,-0.073267,-0.961353,-0.733599,-0.419574,0.796274,0.412893
3,4,20s,female,1,0,0,-368.42603,46.939438,-7.443070,-3.694368,...,-0.155832,3.839320,-2.503331,2.750769,1.758515,2.094565,0.295820,1.737585,-0.654200,1.847927
4,5,20s,male,0,0,0,-535.19300,7.167374,-7.420830,2.231418,...,-0.144892,-0.412889,-1.451348,0.237435,-0.971688,0.779252,-0.734346,1.141693,-0.498866,1.189332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3800,3801,50s,male,0,0,0,-328.48108,68.198105,-40.380050,2.296546,...,-0.169228,1.255069,-4.971604,-0.051959,1.205788,3.960530,-4.198615,2.740853,-4.145076,-2.578391
3801,3802,20s,male,0,0,0,-386.11325,74.041670,-12.082752,-0.463327,...,-2.914988,4.903864,1.143664,6.106156,2.849517,3.576306,-0.653661,3.850693,2.524862,5.940697
3802,3803,20s,female,0,0,0,-347.16568,58.591610,12.996252,27.981964,...,-2.394710,-2.743319,-2.632139,-1.907922,-3.182673,-1.444413,-0.020416,-1.599742,-1.627819,-1.380630
3803,3804,20s,female,0,0,0,-179.06174,70.699880,-14.584357,-10.161293,...,-7.737086,5.680622,-2.050983,1.687631,-1.204141,-0.130723,-4.725782,0.556226,-5.252555,-0.278517
3804,3805,40s,female,1,1,0,-308.58084,85.663930,11.319212,12.697679,...,0.255441,4.058149,-1.271166,-3.727564,1.209356,3.165365,1.471972,1.192195,0.216985,4.189097

In [ ]:
train_negative.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

id                       1899.430980
respiratory_condition       0.126893
fever_or_muscle_pain        0.068305
covid19                     0.000000
mfcc_1                   -460.075113
mfcc_2                     36.517421
mfcc_3                     -6.530972
mfcc_4                      3.554220
mfcc_5                     -5.546003
mfcc_6                     -0.216920
mfcc_7                     -9.920241
mfcc_8                     -3.961273
mfcc_9                     -6.703446
mfcc_10                    -0.870956
mfcc_11                    -6.963796
mfcc_12                    -0.809440
mfcc_13                    -5.039593
mfcc_14                    -0.769660
mfcc_15                    -4.600206
mfcc_16                    -1.348960
mfcc_17                    -3.920741
mfcc_18                    -1.058822
mfcc_19                    -3.621498
mfcc_20                    -0.071915
mfcc_21                    -2.978525
mfcc_22                     0.118007
mfcc_23                    -2.014988
mfcc_24                     0.179151
mfcc_25                    -1.470913
mfcc_26                     0.274120
mfcc_27                    -1.440304
mfcc_28                     0.346036
mfcc_29                    -1.259189
mfcc_30                     0.367288
mfcc_31                    -0.949940
mfcc_32                     0.249145
dtype: float64

In [ ]:
train_positive = train[train['covid19'] ==1]

In [ ]:
train_positive

In [ ]:
train_positive.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

id                       1943.810458
respiratory_condition       0.349673
fever_or_muscle_pain        0.271242
covid19                     1.000000
mfcc_1                   -461.317866
mfcc_2                     40.849535
mfcc_3                     -7.568800
mfcc_4                      5.180521
mfcc_5                     -7.300558
mfcc_6                     -0.432140
mfcc_7                    -11.793797
mfcc_8                     -4.358872
mfcc_9                     -8.329096
mfcc_10                    -0.962974
mfcc_11                    -7.242372
mfcc_12                    -0.403624
mfcc_13                    -5.630189
mfcc_14                    -0.369940
mfcc_15                    -4.947212
mfcc_16                    -1.390326
mfcc_17                    -4.329605
mfcc_18                    -1.064101
mfcc_19                    -4.101677
mfcc_20                    -0.163336
mfcc_21                    -3.424841
mfcc_22                    -0.029682
mfcc_23                    -2.197508
mfcc_24                    -0.013588
mfcc_25                    -1.533527
mfcc_26                     0.110124
mfcc_27                    -1.561900
mfcc_28                     0.268803
mfcc_29                    -1.384654
mfcc_30                     0.240386
mfcc_31                    -0.924827
mfcc_32                     0.124569
dtype: float64

In [ ]:
train_negative['mfcc_1'].mean() - train_positive['mfcc_1'].mean()

1.2427533051013597

In [ ]:
def avg1(data):
    print(abs(train_negative[data].mean() -  train_positive[data].mean()))

In [ ]:
print(avg1('mfcc_1'))
print(avg1('mfcc_2'))
print(avg1('mfcc_3'))
print(avg1('mfcc_4'))
print(avg1('mfcc_5'))
print(avg1('mfcc_6'))
print(avg1('mfcc_7'))
print(avg1('mfcc_8'))
print(avg1('mfcc_9'))
print(avg1('mfcc_10'))
print(avg1('mfcc_11'))
print(avg1('mfcc_12'))
print(avg1('mfcc_13'))
print(avg1('mfcc_14'))
print(avg1('mfcc_15'))
print(avg1('mfcc_16'))
print(avg1('mfcc_17'))
print(avg1('mfcc_18'))
print(avg1('mfcc_19'))
print(avg1('mfcc_20'))
print(avg1('mfcc_21'))
print(avg1('mfcc_22'))
print(avg1('mfcc_23'))
print(avg1('mfcc_24'))
print(avg1('mfcc_25'))
print(avg1('mfcc_26'))
print(avg1('mfcc_27'))
print(avg1('mfcc_28'))
print(avg1('mfcc_29'))
print(avg1('mfcc_30'))
print(avg1('mfcc_31'))
print(avg1('mfcc_32'))

1.2427533051013597
None
4.332114248920206
None
1.0378284660620674
None
1.6263014072329671
None
1.7545552628135388
None
0.21521989205713415
None
1.8735553078734828
None
0.3975995456525845
None
1.6256503262373192
None
0.09201838974125198
None
0.2785764461365243
None
0.405815101168631
None
0.590596063829631
None
0.3997201524058234
None
0.34700626582145233
None
0.04136634650749693
None
0.4088638064382417
None
0.005279265683097334
None
0.48017900798391944
None
0.09142041950037572
None
0.4463167910814705
None
0.14768892398043776
None
0.18251934361962752
None
0.19273848587350717
None
0.06261421834999514
None
0.16399608479950234
None
0.1215959029175182
None
0.07723294271131825
None
0.12546538220216363
None
0.1269022164680004
None
0.025112923919866303
None
0.12457625451282463
None